import 'package:flutter/material.dart';
<header_import>
<body_import>
<footer_import>

class <screen_class_name> extends StatelessWidget{
  const <screen_class_name>({super.key});

  @override
  Widget build(BuildContext context){
    return Scaffold(
      appBar: <header_var_create>,
      body: <body_var_create>,
      bottomNavigationBar: <footer_var_create>,
    );
  }
}